.footer_outer_container{
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
}

.footer_inner_contianer{
    width: 60%;
    /* background-color: red; */
}
.footer_icons{
    /* background-color: blue; */
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
}

.footer_data{
    display: flex;
    justify-content: space-between;

}
.service_code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 10px;
    
}